* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
body,
html {
  font-family: Poppins;
  font-size: 10px;
}

button,
input,
textarea {
  font-family: Poppins;
}

nav {
  position: relative;
  overflow: hidden;
  .mobile-nav {
    padding: 2rem;
    background: #e7b33d;
    z-index: 1;
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    position: fixed;
    top: -200px;
    left: 0;
    &.active {
      opacity: 1;
      top: 62px;
    }
    & > img {
      width: 30%;
      display: block;
      margin: 4rem auto 10rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style-type: none;
      height: 150px;
      li {
        text-align: left;
        color: #fff;
        font-size: 1.8rem;
      }
    }
  }
}

main {
  position: relative;
}

header {
  padding: 1rem 1.5rem;
  opacity: 0;
  width: 100%;
  // background: #1f2325;
  background-color: #090b0c;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  &.active {
    opacity: 1;
    z-index: 1;
  }
  .logo {
    display: flex;
    align-items: center;
    margin: 0;
    img {
      display: inline-block;
      width: 3rem;
      margin-right: 1rem;
    }
    p {
      display: inline;
      font-size: 1.6rem;
      font-weight: 700;
      color: #e7b33d;
      position: relative;
      top: 5px;
    }
  }
  button.hamburger {
    position: fixed;
    top: 18px;
    right: 15px;
    border: none;
    background: transparent;
    border-radius: 5px;
    background-color: #e7b33d;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    img {
      width: 22px;
      &.small {
        width: 15px;
      }
    }
  }
}

main {
  position: relative;
}

div.hero {
  min-height: 100vh;
  background: #090b0c;
  padding: 4rem 2rem 0;

  h1 {
    font-family: Corinthia;
    color: #e7b33d;
    font-size: 5rem;
    text-align: center;
    margin-top: 1rem;
  }

  h2 {
    color: #e7b33d;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    display: none;
  }

  & > img {
    width: 80%;
    display: block;
    // padding-top: 8rem;
    margin: 2rem auto;
  }

  h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 2.5rem;
    line-height: 35px;
    letter-spacing: 1px;
    text-align: center;
    span {
      &.gold {
        color: #e7b33d;
      }
    }
  }

  div.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    display: none;
    button {
      font-size: 1.5rem;
      border: solid 1px grey;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      &:first-child {
        color: #090b0c;
        background: #fff;
      }
      &:last-child {
        color: #fff;
        background: #090b0c;
      }
    }
  }
}

section.about {
  padding: 4rem 2rem 4rem;
  h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  button {
    color: #e7b33d;
    background: rgba(231, 179, 61, 0.15);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.8rem;
  }
}

section.services {
  padding: 4rem 2rem 4rem;
  h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: #e7b33d;
  }

  .slick-arrow::before {
    color: #090b0c;
    font-size: 2rem;
  }
  div.carousel {
    width: 80vw;
    margin: 0 auto;
    div.slide {
      background-color: #090b0c;
      height: 350px;
      img {
        width: 90%;
        height: 75%;
        display: block;
        margin-left: auto;
      }
      div.text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem 1rem;
        margin-top: 2rem;
        h3 {
          text-transform: uppercase;
          font-size: 2rem;
          font-family: Cabin;
          color: #fff;
          width: 50%;
          font-weight: 600;
        }
        a {
          text-decoration: none;
          font-size: 1.8rem;
          color: #e7b33d;
        }
      }
    }
  }
}

footer {
  padding: 2rem;
  background-color: #090b0c;
  color: #fff;
  div.title {
    margin: 2rem 0 3rem;
    & > p {
      color: #fff;
      font-size: 1.6rem;
      text-transform: capitalize;
    }
    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      img {
        display: inline-block;
        width: 3rem;
        margin-right: 1.5rem;
      }
      p {
        display: inline;
        font-size: 2.2rem;
        font-weight: 700;
        color: #e7b33d;
        position: relative;
        top: 5px;
      }
    }
  }

  div.company {
    margin-bottom: 3rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    ul {
      list-style-type: none;
      li {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        a {
          text-decoration: underline;
        }
      }
    }
  }

  div.contact {
    margin-bottom: 3rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    ul {
      list-style-type: none;
      li {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: flex-start;

        img {
          width: 25px;
          display: inline-block;
          margin-right: 1rem;
        }
        p {
          display: inline;
          text-transform: capitalize;
        }

        &:nth-child(5),
        &:nth-child(6) {
          p {
            text-transform: lowercase;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 335px) {
  header {
    .logo {
      p {
        font-size: 1.8rem;
      }
    }
  }
}
